.footer {
  background: #151c03;
}
.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  position: relative;
}
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ffffff;
}

.footer-contato li {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
}
.footer-contato li a {
  color: #ffffff;
  text-decoration: none;
}
.footer-copy {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
}
